---
# HTTP Server configurations
httpServer:
  host: "localhost"
  port: 8080

# Database config
# Currently supports MySQL and SQLite db drivers
database:
  entity:
    driver: "sqlite"
    mysql:
      dbName: "roldb"
      username: "root"
      password: "67Edh68Tyt69"    # pragma: allowlist secret
      protocol: "tcp"
      hostname: "localhost"
      port: "3306"
      parameters: "?charset=utf8mb4&parseTime=True&loc=Local"
    sqlite:
      # If filename does not start with '/' then the path will be relative to the launch file
      filename: "rol.db"
  log:
    driver: "sqlite"
    mysql:
      dbName: "roldb_logs"
      username: "root"
      password: "67Edh68Tyt69"    # pragma: allowlist secret
      protocol: "tcp"
      hostname: "localhost"
      port: "3306"
      parameters: "?charset=utf8mb4&parseTime=True&loc=Local"
    sqlite:
      # If filename does not start with '/' then the path will be relative to the launch file
      filename: "rol_logs.db"

# Logger configuration
logger:
  # "panic" - highest level of severity. Logs and then calls panic with the
  # message passed to Debug, Info, ...

  # "fatal" - logs and then calls `logger.Exit(1)`. It will exit even if the
  # logging level is set to Panic.

  # "error" - logs. Used for errors that should definitely be noted.
  # Commonly used for hooks to send errors to an error tracking service.

  # "warning" - non-critical entries that deserve eyes.

  # "info" - general entries about what's going on inside the application.

  # "debug" - usually only enabled when debugging. Very verbose logging.

  # "trace" - designates finer-grained informational events than the Debug.
  level: "debug"
  logsToDatabase: true
